@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --green: #3F704D;
    --blue: #82CAFF;
    --white: #CCC;
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img{
    width: 100%;
}

footer{
    background-color: var(--green);
    width: 100%;
}

/*navegation*/
.navbar-container{
    position:fixed;
    display: flex;
    width: 100%;
    height: 50px;
}

.contentlist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 0.8rem;
}

.contentlist :hover{
    background-color: var(--green);
    color: white;
    font-size: 1.5rem;
}

.contentlist li{
    list-style: none;
}

.contentlist a{
    text-decoration: none;
    font-weight: 500;
    color: var(--green);
    font-size: 1rem;
}

.contentlist .logo{
    font-size: 2.5rem;
    padding-left: 1rem;
    font-weight: 400;
}

.boton-content{
    padding-left: 55rem;
}

.boton-content a{
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

/*section header*/
.main-section{
    padding: 7rem;
    background-color: var(--green);
    text-align: center;
}

.main-section-text{
    color: var(--white);
    font-size: 1.5rem;
}

/*section office*/

.title{
    text-align: center;
    color: var(--green);
    padding-top: 3rem;
}

.office-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.office-content{
    padding: 4rem 10rem 4rem 10rem;
}

.office-text{
    display: flex;
    flex-direction: column;
}


.office-text a{
    
    text-decoration: none;
    font-weight: 700;
    color: var(--blue);
    font-size: 1.5rem;
}

.office-text :hover{
    font-size: 2rem;
    background-color: var(--blue);
    color: white;
}

.arrow{
    width: 1.4rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

/*products*/

.products-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    padding: 5em 10em 5em 10em;
}

.products-content img{
    width: 100%;
    height: 70%;
}

.products-content p{
    text-align: center;
    font-size: 2.5rem;
    color: var(--green);
    font-weight: 600;
}


/*Footer*/
.footer-content{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    padding: 2rem 0 2rem 20rem;
}

.address a{
    font-size: 3rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    line-height: 6rem;
}

.address p{
    word-spacing: 0.3rem;
    color: var(--white);
}

.footer-content-list ul{
    padding-top: 1.5rem;
}

.footer-content-list li{
    list-style: none;
}

.footer-content-list a{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

